@font-face {
    font-family: 'JasperDaniels';
    src: url('./JasperDaniels.eot');
    src: url('./JasperDaniels.eot?#iefix') format('embedded-opentype'),
    url('./JasperDaniels.woff') format('woff'),
    url('./JasperDaniels.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }