@import '../../style/variables.scss';

.whiskey_wonders {
    min-height: 100vh;
    padding: 85px 0 159px 0;
    background-color: $bg-color;
    &_header {
        text-align: center;
        font-weight: 400;
        font-size: 96px;
        line-height: 0.77;
        letter-spacing: -0.1em;
        color: $text-color;
    }
    &_wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        column-gap: 90px;
        height: 523px;
    }
    &_title {
        margin-top: 30px;
        font-weight: 400;
        font-size: 48px;
        line-height: 0.77;
        letter-spacing: -0.1em;
        text-align: center;
    }
    &_img {
        margin: 0 auto;
        height: 419px;
    }
}