html {
    font-family: JasperDaniels, sans-serif;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-timeline: 1s;
}

* {
    color: #FFFFFF;
}

.container {
    position: relative;
    max-width: 1182px;
    margin: 0 auto;
}

section {
    margin-top: -1px;
}

header, section, footer {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}